/* 
GLOBAL 
*/

body {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: #666666;

}

p {
    margin-top: 1.5rem;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 0;
    line-height: 30px;
    color: #7a7c7e;

}

section {
    padding: 120px 0px;
}


.btn {
    color: white;
    padding: 20px 40px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 0px;
    font-size: 12px;
}

div {
    display: block;
}


/* 
Section 1 
*/

.section_1 {
    height: 486px;
    background-position: center;
    text-align: center;
    padding: 0px;
    background-size: cover;    
}

.section_1 .accueil-site {
    margin: 60px 0px;
}

.section_1 p {
    color: aliceblue;
    font-weight: 100;
}

.section_1 h2.section-titre {
    color: aliceblue;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 60px;
    letter-spacing: 5px;
    margin-bottom: 35px;
}

.accueil-site {
    text-align: center;
}



.section_1 .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.section_1 .subtitle-accueil {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    line-height: 36px;
    color: #fff;
    margin-bottom: 25px;
    font-weight: 300;
    text-transform: unset;
    letter-spacing: 1px;
    padding-left: 0;
}

.section_1 .btn-info {
    background-color: #fff;
    color: #333;
    border-color: #fff;
    
}

/* 
Menu
*/
.menunavbar {
    background-color: #eb4f30;
    text-align: center;
    border: none;
    padding-top: 3vh;
}

.menunavbar li a {
    font-family: 'Raleway', sans-serif;
    text-transform: none;
    color: #fff;
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 200;
    padding: 20px 18px;
    text-decoration: none;
    line-height: 1.2rem;
}

.section .contact {
    text-align: center;
    margin: 0 auto;
    
}

/* 
section 2 header
*/

.header .logo {
    max-width: 100%;
}

.dinner-header {
   text-align: center;
}

/* 
section 3 menus
*/

p.subtitle {
    font-family: "Raleway", sans-serif;
    margin-bottom: 40px;
    color: #333;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 900;
    margin-top: 0;
    position: relative;
    padding-left: 50px;
    text-transform: uppercase;
}

h2.section-title {
    font-size: 60px;
    line-height: 74px;
    letter-spacing: 5px;
    color: #292728;
    margin-bottom: 80px;
    font-weight: 100;
}


p.name {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.7;
}

p.price {
    font-size: 42px;
    color: #333px;
    margin-top: 20px;
}

/* cases en gris clair */
.menu-list-item .content {
    background-color: #f8f8f8;
    padding: 30px;
    list-style-type: none;
    margin-bottom: 30px;
    position: relative;
}

.menu .menu-list-item .content .name {
    font-size: 24px;
    line-height: 1.7;
    font-weight: 500;
    color: #333;
    margin-bottom: 30px;
}

/* 
Filet 
*/

p.subtitle:before {
    content: "";
    height: 1px;
    width: 4000px;
    position: absolute;
    left: -3980px;
    top: 13px;
    background: #eee;
}

p.subtitle:after {
    content: "";
    height: 5px;
    width: 5px;
    position: absolute;
    left: 0;
    margin-left: 18px;
    top: 11px;
    background: #eee;
    border-radius: 50%;
}


/* 
Section 4
*/

.theBestFood_image {
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 190px 0px;
    position: relative;
}

.hidden {
    display: none !important;
}

.theBestFood_image h2.section-title {
    font-size: 60px;
    line-height: 74px;
    letter-spacing: 5px;
    color: #fff;
    margin-bottom: 80px;
    font-weight: 100;
}

.section-subtitle {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 40px;
    color: #fff;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 2px;
    font-weight: 900;
    margin-top: 0;
}

/* SECTION 5 */

.metrics {
    text-align: center;
    padding-top: 15vh;
    padding-bottom: 15vh;
}

.metrics .metric {
    color: #fff;
}


.metrics .metric .number {
    font-size: 82px;
    line-height: 94px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.metrics .metric .description {
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: bold;
}

.blockred {
    background-color: #eb4f30;
}

/* SECTION 6*/

.ytp-cued-thumbnail-overlay-image {
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
}

/* RESPONSIVE */
 

@media screen and (max-width: 768px) {

    .theBestFood_image h2.section-title {
        font-size: 52px;
        line-height: 54px;
}


